global {  
    # max number of drbd devices
    minor-count 64;
    # dialog-refresh 5; # 5 seconds
    # disable-ip-verification;
    usage-count no;
}

common {
  syncer { rate 50M; }
  protocol C;

  startup {
    wfc-timeout         0;  ## Infinite!
    degr-wfc-timeout  120;  ## 2 minutes.
  }

  disk {
    on-io-error detach;
  }

  net {
    # timeout           60;
    # connect-int       10;
    # ping-int          10;
    # max-buffers     2048;
    # max-epoch-size  2048;
    cram-hmac-alg "sha1";
    shared-secret "shared_secret_key_for_drbd";
    allow-two-primaries;
  }
}


#data
resource data-root {
    on host1 { device "/dev/drbd0" ; disk "/dev/vg0/data-root"; address 10.98.101.110:7800; meta-disk internal; }
    on host2 { device "/dev/drbd0" ; disk "/dev/vg0/data-root"; address 10.98.101.120:7800; meta-disk internal; }
}
resource data-var { syncer { after "data-root";  }
    on host1 { device "/dev/drbd1" ; disk "/dev/vg0/data-var"; address 10.98.101.110:7801; meta-disk internal; }
    on host2 { device "/dev/drbd1" ; disk "/dev/vg0/data-var"; address 10.98.101.120:7801; meta-disk internal; }
}
