*#
archive
*.bak
*.py[co]
*.retry
*.sublime
*.sw[op]
*.TMP
*.tmp
*.un
*~
._*
.apdisk
.DS_Store
.DS_Store?
.sass-cache
.Spotlight-V100
.TemporaryItems
.Trashes
.trashes
desktop.ini
ehthumbs.db
lost+found
RECYCLE.BIN
RECYCLER
System\ Volume\ Information
Thumbs.db
trash
wow.md

# running git repository in home dir
.bash_logout
.bashrc
.profile
.ssh
.vim
.viminfo
.gitconfig
.bash_history
